.cpdiv{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}
.form-control{
    border: 1px solid #bdbdbd !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.form-container{
    height: 300px;
}
