.MuiOutlinedInput-notchedOutline{
 border: none !important ;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: none !important;
}

video{
    object-fit: cover;
    overflow: hidden;
    width:98.5vw;
    height:100vh;
  
    
}
.video-div{
 
}
.middiv{
margin-top: -500px;
margin-left: auto;
text-align: center;
color: aliceblue;
font-size: larger;
}

.home-btn{
    padding: 16px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    margin: 10px 5px;
    border-radius: 30px;  
}
 