.component{
    margin-top: 10;
    background: '#F5F5F5';
    padding: 10;
    margin-bottom: 10px;

}
.container{
    display:flex;
    margin-bottom:5;
    align-items: center;
    background-color: rgb(238, 232, 232);
}

.date{
    font-size:14;
    color:'#878787';
} 
.delete{
    margin-left:auto;
    cursor: pointer;
}